.App {
    background-color: #222831;
}


.colors {
    color: #222831;
    color: #393e46;
    color: #283739;
    color: #363636;
    color: #303841;
    color: #2c5d63;
    color: #4c9173;
    color: #0092ca;
}