.PcCrdContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #222831;
}

.sC {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0px;
}